.DS_Store
__pycache__

node_modules/*
stats.csv
quizServer/stats.csv
quizServer/*ocr-results.txt
quizServer/*pasted-text.txt
quizServer/uploads/*
!quizServer/uploads/placeholder.txt

uploads/*
!uploads/PPLL4M.docx
!uploads/tmp.txt

*.swp

/npm-debug.log
