<!-- tutorialQuiz.html -->
<div class="tutorialQuiz box">
    <h3> when ever you want to start the practice quizzes </h3>
    <ul>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Categories">categories </button>
        <ul id="Categories" class="collapse">
            <li>
                <button type="button" ng-click="PSYC2145Ch1()">
                    Sports
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch2()">
                    Movies
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch3()">
                    Music
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch4()">
                    History
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch5()">
                    Science
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch6()">
                    6
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch7()">
                    7
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch8()">
                    8
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch9()">
                    9
                </button>
            </li>
            <li>
                <button type="button" ng-click="PSYC2145Ch10()">
                    10
                </button>
            </li>

        </ul>
    </ul>
</div>
<script>
    $.getScript("./src/js/quiz.js");
</script>