<!-- usePremadeQuiz.html -->
<div class="usePremadeQuiz box">
	<h3> Use A Premade Quiz </h3>
	<ul>
		<li>
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#PSYC2145">PSYC 2145 - Introductory Cognitive Psychology </button>
			<ul id="PSYC2145" class="collapse">
				<li>
					<button type="button" ng-click="PSYC2145Ch1()">
						Chapter 1 : The Science of the Mind
					</button>
				</li>
				<li>
					<button type="button" ng-click="PSYC2145Ch2()">
						Chapter 2 : The Neural Basis for Cognition
					</button>
				</li> 
				<li> 
					<button type="button" ng-click="PSYC2145Ch3()">
						Chapter 3 : Visual Perception
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch4()">
						Chapter 4 : Recognizing Objects
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch5()">
						Chapter 5 : Paying Attention
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch6()">
						Chapter 6 : The Acquisition of Memories and the Working-Memory System 
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch7()">
						Chapter 7 : Interconnection between Acquistion and Retrieval 
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch8()">
						Chapter 8 : Remembering Complex Events
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch9()">
						Chapter 9 : Concepts and Generic Knowledge 
					</button>
				</li>
				<li> 
					<button type="button" ng-click="PSYC2145Ch10()">
						Chapter 10 : Language
					</button>
				</li>
				<li>
					<button type="button" ng-click="PSYC2145Ch11()">
						Chapter 11 : Visual Knowledge
					</button>
				</li>
				<li>
					<button type="button" ng-click="PSYC2145Ch12()">
						Chapter 12 : Judgment and Reasoning
					</button>
				</li>
				<li>
					<button type="button" ng-click="PSYC2145Ch13()">
						Chapter 13 : Problem Solving and Intelligence
					</button>
				</li>
				<li>
					<button type="button" ng-click="PSYC2145Ch14()">
						Chapter 14 : Conscious Thought, Unconscious Thought
					</button>
				</li>
			</ul>
		</li>
	</ul>
</div>
<script>
    $.getScript("./src/js/quiz.js");
</script>
